footer *{	
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Kumbh Sans', sans-serif;
	scroll-behavior: smooth;
	}
    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lora:wght@400;500;600;700&display=swap');
    
.footer__container {
	background-color: #131313;
	padding: 1rem 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	}

	#footer__logo {

	color: #fff;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	font-size: 2rem;
	}

	.footer__links {
	width: 100%;
	max-width: 1000px;
	display: flex;
	justify-content: center;
	}
   #footer__logo img {
   height: 60px;
   width: 60px;
   }

	.footer__link--wrapper {
	display: flex;
	}

	.footer__link--items {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 16px;
	text-align: center;
	width: 160px;
	box-sizing: border-box;
	}

	.footer__link--items p {
	color: #fff;
	}

	.footer__link--items a {
	color: #fff;
	text-decoration: none;
	margin-bottom: 0.5rem;
	transition: 0.3 ease-out;
	}

	.footer__link--items a:hover {
	color: #e9e9e9;
	transition: 0.3 ease-out;
	}

	.social__icon--link {
	color: #fff;
	font-size: 24px;
	}

	.social__media {
	max-width: 1000px;
	}

	.social__media--wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	}

	.social__icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100px;
	}

	.website__rights {
	color: #fff;
	}

	@media screen and (max-width: 820px) {
	.footer__links {
	padding-top: 2rem;
	}

	#footer__logo {
	margin-bottom: 2rem;
	}

	.website__rights {
	margin-bottom: 2rem;
	}

	.footer__link--wrapper {
	flex-direction: column;
	}

	.social__media--wrap {
	flex-direction: column;
	}
	}

	@media screen and (max-width: 480px) {
	.footer__link--items {
	margin: 0;
	padding: 10px;
	width: 100%;
	}
} 
/* Start with the selector 'footer {}' then for every element in footer, 
   put a space between footer and the selector like this: 'footer [SELECTOR] {}' */