*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background: white;
    height: 80px;
    width: 100%;
}
img{
    height: 70px;
    margin-left: 20px;
    margin-top: 5px;
   
  
}
label.logo{
    color: #015C86;
    font-size: 32px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
font-family: 'Inter', sans-serif;
}
nav ul{
    float: right;
    margin-right: 20px;
}
a{
    padding: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #015C86;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;  
font-family: 'Inter', sans-serif;
}
button{
    background-color: #DFB43C;
    font-size: 20px;
    border: none;
    outline: none;
    padding:0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
    font-family: 'Inter', sans-serif; 
}

button:hover{
background:var(--clr-primary-hover);
}
a.{color: #015C86;}

a.active,a:hover{
color: #000000;
    transition:all .5s linear;
}
